Лаб 12/text_copy.xsd

<?xml version="1.0" encoding="Windows1251"?>
<xs:schema xmlns:xs ="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3schools.com/RedsDevils">
<xs:element name="note">
<xs:complexType>
<xs:sequence>
    <xs:element name="first" type="xs:string"/>
    <xs:element name="second" type="xs:string"/>
    <xs:element name="third" type="xs:string"/>
    <xs:element name="four" type="xs:string"/>
    <xs:element name="five" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>    